  body{
    background-color:#f3e8cb
  }
  hr{
    border-style:dotted none none;
    background-color: #f3e8cb;
    border-width: 7px;
    width: 5%;
  }
  h1{
    color:#33bfbf
    

  }
  h3{
    color: #33bfbf
  }
